@model IEnumerable<Lab02_ArbolBinario.Models.Entero>

@{
    ViewBag.Title = "Index";

}


<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Entero", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.valor }) |
            @Html.ActionLink("Details", "Details", new { id=item.valor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.valor })
        </td>
    </tr>
}

    

</table>
<h4>Carga Json</h4>

@using (Html.BeginForm("CargaJsonEnt", "Entero", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />



    </div>


}
@using (Html.BeginForm("MostrarOrden", "Entero", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">

    <select name="orden">

        <option>InOrden</option>

        <option>PreOrden</option>

        <option>PostOrden</option>

    </select>

    <input type="submit" value="Seleccionar" />



</div>


}

@using (Html.BeginForm("EsDegenerado", "Entero", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="submit" value="¿Es Degenerado?" />
    </div>
}


@Html.ActionLink("Ir a Home", "Index", "Home")
