@model IEnumerable<Lab02_ArbolBinario.Models.Pais>

@{
    ViewBag.Title = "Paises";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Pais", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nombre }) |
            @Html.ActionLink("Details", "Details", new { id=item.nombre }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nombre })
        </td>
    </tr>
}

</table>

@using (Html.BeginForm("CargaJsonPais", "Pais", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />



    </div>


}

@using (Html.BeginForm("MostrarOrden", "Pais", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">

        <select name="orden">

            <option>InOrden</option>

            <option>PreOrden</option>

            <option>PostOrden</option>

        </select>
       
        <input type="submit" value="Seleccionar" />



    </div>


}

@using (Html.BeginForm("EsDegenerado", "Pais", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="submit" value="¿Es Degenerado?" />
    </div>
}

@using (Html.BeginForm("ITSB", "Pais", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="submit" value="¿El Arbol esta balanceado?" />
    </div>
}


@Html.ActionLink("Ir a Home", "Index", "Home")
