@model IEnumerable<Lab02_ArbolBinario.Models.Cadena>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}




</table>

@using (Html.BeginForm("CargaJsonCad", "Cadena", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />



    </div>
}

    @using (Html.BeginForm("MostrarOrden", "Cadena", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">

            <select name="orden">

                <option>InOrden</option>

                <option>PreOrden</option>

                <option>PostOrden</option>

            </select>

            <input type="submit" value="Seleccionar" />



        </div>
    }


@using (Html.BeginForm("EsDegenerado", "Cadena", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="submit" value="¿Es Degenerado?" />
    </div>
}
